/* Set box-sizing */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Main Nav bar */
.main-nav {
	background-color: #e63c1c;
	max-width: 100%;
	height: 150px;
}

.top-nav {
	max-width: 100%;
	background-color: #643b9c;
}

.main-nav ul {
	display: flex;
}

.top-nav,
.bottom-nav {
	display: flex;
	justify-content: space-between;
}

.tnw2020-advert {
	max-width: 100%;
	background-color: #fedd33;
}

@media (min-width: 768px) {
	/* Hide hamburger menu */
	.condensed {
		display: none;
	}
}

@media (max-width: 1113px) {
	/* The TNW conference timer and several bottom nav items disapear */
	.tnw-timer,
	.optional {
		display: none;
	}
}

@media (max-width: 782px) {
	/* Hide internal contact info from nav */
	.internal-contact > * {
		display: none;
	}
}

/* Featured Articles */
.feature-articles {
	background-color: #e6c510;
	max-width: 100%;
	height: 500px;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-gap: 10px;
	margin: 5px 20px 20px 20px;
}

.main-featured-article {
	background-color: #e04fe6;
	width: 100%;
	min-height: 400px;
	grid-row: span 2;
}

.featured-article {
	background-color: #37e69f;
	width: 100%;
}

@media (max-width: 1024) {
	/* Smaller link size */
}

@media (max-width: 768px) {
	/* Move top nav to hamburger menu */
	.condensed {
		display: inline;
	}

	.top-nav,
	.bottom-nav ul:first-child > * {
		display: none;
	}

	/* Re-order featured articles */
	.main-featured-article,
	.featured-article {
		grid-column: 1 / -1;
	}
}

/* Latest News Section */
.latest-news {
	max-width: 100%;
	/*height: 1000px;*/
	background-color: #5043e6;
	display: grid;
	/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
	grid-template-columns: 1fr 12fr 1fr;
	grid-gap: 20px;
	padding: 10px;
}

.latest-news > * {
	grid-column: 2 / -2;
}

.latest-news header {
	max-width: 100px;
	background-color: #e63c1c;
	height: 50px;
	grid-area: "header";
	/*grid-column: 1 / -1;*/
}

.news-article-container {
	max-width: 100%;
	background-color: #e6c510;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.news-article {
	/*max-width: 300px;*/
	max-width: 100%;
	height: 250px;
	background-color: #e04fe6;
}

/* Funding Startups section */
.funding-info {
	max-width: 100%;
	height: 100px;
	background-color: #37e69f;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	padding: 10px;
}

.funding-info header {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
}

.funding-info header ul {
	display: flex;
}

.funding-info header ul li {
	padding: 0 10px;
}

.funding-highlight {
	background-color: #5043e6;
}

/* Popular Articles section */
.popular {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	background-color: #e63c1c;
}

.popular article {
	width: 300px;
	height: 400px;
	background-color: #e6c510;
}

/* Latest Deals Section */
.latest-deals {
	width: 100%;
	height: 500px;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #e04fe6;
}

.latest-deals header {
	grid-column: 1 / -1;
	background-color: #37e69f;
}

.deal {
	width: 100%;
	height: 100%;
	background-color: #5043e6;
}

/* Footer section */
footer {
	background-color: #141414;
	max-width: 100%;
	height: 400px;
	color: white;
}

footer nav {
	height: 200px;
}

.copyright {
	background-color: #000000;
	max-width: 100%;
	height: 200px;
}

.social i {
	color: #fff;
}
